main {
    display: flex;
    flex-direction: row;
}

#exos > ul {
    list-style-type: none;
    padding: 0;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    text-decoration: none;
    font-weight: 700 !important;
    color: white;
}

h1 {
    color: #dc4b68;
    padding-top: 0.5em;
}

.white {
    color: white;
}

#exos {
    margin-right: 5em;
    background-color: rgb(236, 236, 236);
    padding: 0 3em 3em 3em;
    height: 100vh;
    background: rgb(205,205,205);
    background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(145,145,145,1) 100%);    
}

.uk-navbar {
    /* background-color: rgb(90, 90, 90) !important; */
    background: rgb(162,162,162);
    background: radial-gradient(circle, rgb(224, 224, 224) 0%, rgb(187, 187, 187) 100%) !important;
    color: white;
}
